@import "variables";


.LocationsCatalogBrowser {
  height: 100%;
  width: 100%;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);

  > .ContentBox {
    height: 100%;
    min-height: 100%;
    max-width: $content-width-max-px;
    flex: 1;
    display: flex;
    flex-direction: column;

    > .Header {
      width: 100%;
      box-sizing: border-box;
      padding: $outer-padding-x3 $outer-padding-x2;
      padding-left: $outer-padding-x3 + 1.3rem;
      flex-grow: 0;
      flex-shrink: 0;
      display: flex;
      justify-content: space-between;

      > h4 {
        color: #3B4351;
      }

      > .CloseButton {
        cursor: pointer;
        color:  #3B4351;
        font-size: 1.4rem;
        margin: -0.05rem 0 -0.2rem 0;

        &:hover {
          color: HSL(200, 75%, 45%);
        }
      }
    }

    > .Body {
      width: 100%;
      margin: 0 0 $outer-padding 0;
      padding: 0 $outer-padding;
      box-sizing: border-box;
      flex-grow: 1;
      flex-shrink: 1;
      overflow-y: scroll;
      scrollbar-width: none;

      background: linear-gradient(white $outer-padding, hsla(0,0%,100%,0)) 0 0 / 100% 50px,
      	          radial-gradient(at top, rgba(0,0,0,.2), transparent 70%) 0 0 / 100% $outer-padding,
      	          linear-gradient(to top, white $outer-padding, hsla(0,0%,100%,0)) bottom / 100% 50px,
      	          radial-gradient(at bottom, rgba(0,0,0,.2), transparent 70%) bottom / 100% $outer-padding;

      background-repeat: no-repeat;
      background-attachment: local, scroll, local, scroll;

      &::-webkit-scrollbar { /* WebKit */
          width: 0;
          height: 0;
      }

      > .ContentBox {
        display: flex;
        margin: $outer-padding-x2 0;

        > .TheatersColumn {
          flex-grow:   1;
          flex-shrink: 1;
          width:       100%;
          min-width:   calc(#{$screen-width-step-px} - #{$outer-padding-x2});
          padding:     0 $outer-padding;

          > .Theater + .Theater {
            margin-top: $outer-padding-x5;
          }

          > .Theater {
            > .Header {
              position: relative;
              text-align: center;
              overflow: hidden;
              white-space: nowrap;
              padding-bottom: $outer-padding;

              > span {
                position: relative;
                display:  inline-block;
                color:    #BCC3CE;

                &::after, &::before {
                  content:    "";
                  position:   absolute;
                  top:        50%;
                  width:      50vw;
                  height:     1px;
                  background: #F1F3F5;
                }

                &:before {
                  right: 100%;
                  margin-right: $outer-padding;
                }

                &:after {
                  left: 100%;
                  margin-left: $outer-padding;
                }
              }
            }

            > .Body {
              padding: 0 $outer-padding;

              .LocationsItem {
                cursor: pointer;
                margin: 1em 0;
                -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

                &:hover {
                  color: #22A0E0;
                }
              }

              .LocationsItem-Leaf {
                margin-left: 1.3em;
                color: #66758C;
              }

              > .LocationVariant {
                @extend .LocationsItem;
                @extend .LocationsItem-Leaf;
              }

              > .MultipleVariantLocation {

                > .Summary {
                  @extend .LocationsItem;

                  outline: 0;
                  display: block;
                  color: #3B4351;
                  font-weight: bold;

                  &::-webkit-details-marker {
                    display:none;
                  }

                  > .ExpandIcon {
                    margin-right: 0.3em !important;
                    height: 1em;
                    width: 1em;
                    will-change: transform;
                    transition: transform .25s;
                  }
                }

                &[open] > .Summary {
                  .ExpandIcon {
                    transform: rotate(90deg);
                  }
                  .Badge {
                    visibility: hidden;
                    opacity: 0;
                  }
                }

                > .LocationVariantsBox {
                  padding-bottom: 0.05em;

                  > .LocationVariant {
                    @extend .LocationsItem;
                    @extend .LocationsItem-Leaf;
                  }
                }

              }

              .Tag {
                margin: -0.4em 0.5em -0.35em 0.5em;
                padding: 0.6em 0.45em 0.6em 0.4em;
                display: inline-block;
                border-radius: 2px;
                font-size: 0.7em;
                font-weight: bold;
                vertical-align: top;
                background-origin: border-box;
                min-width: 1em;
                text-align: center;

                &.new {
                  color: white;
                  background-color: #27b83b;
                }
              }

              .Badge {
                display: inline-block;
                font-weight: bold;
                font-size: .5em;
                height: .9em;
                line-height: 1em;
                min-width: .9em;
                padding: .3em .4em .4em .35em;
                text-align: center;
                white-space: nowrap;
                vertical-align: top;
                background-clip: padding-box;
                border-radius: .5rem;
                box-shadow: 0 0 0 .1rem #fff;
                margin-top: -0.6em;
                visibility: visible;
                opacity: 1;
                will-change: opacity, visibility;
                transition:  opacity 400ms, visibility 400ms;

                &.new {
                  color: white;
                  background-color: #27b83b;
                }
              }
            }
          }
        }

        @for $i from 2 through $content-cols-count-max {
          $width-limit: ($screen-width-step-px * $i);

          @media (min-width: #{$width-limit}) {
            > .TheatersColumn {
              width:     (100 / $i) + 0%;
              min-width: calc((#{$width-limit} - #{$outer-padding-x2}) / #{$i});
            }
          }
        }

      }
    }
  }
}
