.InstrumentPanel {
  border-top: .1px solid #dadee4;
  background-color: #fff;
  display: flex;
  font-family: "Bai Jamjuree", sans-serif;


  @import "ToolsBox";
  @import "LocationsCatalogBrowserOpenButton";
  @import "LocationTitleDisplay";
}
