.LocationsCatalogBrowserOpenButton {
  margin: 0.2em;
  padding: 0.3em;
  cursor: pointer;
  outline: 0;
  color: #fff;
  white-space: nowrap;

  border-radius: .15rem;
  background: #3B4351;
  box-shadow: 0 0 0 .03rem darken(#3B4351, 5%);

  transition: background .2s, border .2s, box-shadow .2s, color .2s;

  &:hover {
    background: HSL(200, 75%, 45%);
    box-shadow: 0 0 0 .03rem HSL(200, 75%, 40%);
  }

  > .Icon {
    font-size: 1.7em;
  }
}
