.LoadingIndicator {
  height:     100%;
  width:      100%;
  min-height: 100%;
  min-width:  100%;
  position:   absolute;
  z-index:    1;
  display:    flex;
  color:      #66758C;

  justify-content:  center;
  flex-direction:   column;
  text-align:       center;
  background-color: rgba(255, 255, 255, 1);
}


@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to   {
    transform: rotate(360deg);
  }
}


.LoadingIndicator-Icon {
  will-change: transform;
  animation:   rotate360 2s linear infinite;
}


.LoadingIndicator-Text {
  font-weight: bold;
  margin-left: 0.5em;
  font-size: 1.15em;
}
