@import url('https://fonts.googleapis.com/css?family=Bai+Jamjuree|Oxygen:400,700');

html,
body
{
  overflow: hidden;
  position: fixed;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: 'Oxygen', sans-serif;
  /* font-family: 'Bai Jamjuree', sans-serif; */
}

html,
body,
main,
#root,
.App
{
  height:     100%;
  width:      100%;
  min-height: 100%;
  min-width:  100%;
  background-color: #FFF;
}

/* DEBUG background colors */
/* html  {background-color: #FF6138;} */
/* body  {background-color: #FFFF9D;} */
/* main  {background-color: #BEEB9F;} */
/* #root {background-color: #C77966;} */
/* .App  {background-color: #1695A3;} */

.App {
}


h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-size:   1.6rem;
}


h1 {
  font-size: 2rem;
}


h2 {
  font-size: 1.6rem;
}


h3 {
  font-size: 1.4rem;
}


h4 {
  font-size: 1.2rem;
}


h5 {
  font-size: 1rem;
}


h6 {
  font-size: 0.8rem;
}
