@import "../styles";


.LocationsBrowser-TheatersColumn {
  flex-grow:   1;
  flex-shrink: 1;
  width:       100%;
  min-width:   calc(#{$screen-width-step-px} - #{$outer-padding-x2});
  padding:     0 $outer-padding;
}

@for $i from 2 through $content-cols-count-max {
  $width-limit: ($screen-width-step-px * $i);

  @media (min-width: #{$width-limit}) {
    .LocationsBrowser-TheatersColumn {
      width:     (100 / $i) + 0%;
      min-width: calc((#{$width-limit} - #{$outer-padding-x2}) / #{$i});
    }
  }
}
