@import "../styles";


.LocationsBrowser-TheaterHeader {
  position:    relative;
  text-align:  center;
  overflow:    hidden;
  white-space: nowrap;
  padding-bottom: $outer-padding;

  span {
    position: relative;
    display:  inline-block;
    color:    #BCC3CE;

    &::after, &::before {
      content:    "";
      position:   absolute;
      top:        50%;
      width:      50vw;
      height:     1px;
      background: #F1F3F5;
    }

    &:before {
      right: 100%;
      margin-right: $outer-padding;
    }

    &:after {
      left: 100%;
      margin-left: $outer-padding;
    }
  }
}
