@import "../styles";

.LocationsBrowser-MultiVariantLocationSummary {
  @extend .LocationsBrowser-LocationsListItem;

  outline:     0;
  display:     block;
  color:       #3B4351;
  font-weight: bold;

  &::-webkit-details-marker {
    display:none;
  }

  .LocationsBrowser-MultipleVariantLocationIcon {
    margin-right: 0.3em !important;

    height: 1em;
    width:  1em;

    will-change: transform;
    transition:  transform .25s;
  }
}

.LocationsBrowser-MultipleVariantLocation[open] .LocationsBrowser-MultipleVariantLocationIcon {
  transform: rotate(90deg);
}
